body {
    margin:0;
    padding:0;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: slategray
}
.header {
    text-align: center;
    margin-top: 50px;
    color: black;
    
}

.formWrapper {
    text-align: center;
    margin-top: 40px;
   

}
.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px 20px;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

input {
    height: 30px;
    border-radius: 5px;
    border: solid 1px rgb(216, 210, 210);
    padding: 5px 10px;
    
}

#submit {
    width: 17% ;
    height: 35px;
    margin-top: 20px;
    background-color: rgb(161, 221, 161);
    border: solid 1px green;
    color: white;
}
.splitter {
    border-bottom: slategray 1px dashed ;
    width: 20%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.middleImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 20px;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

.middleImages img {
    height: 160px;
    width: 100%;
    border-radius: 5px;
}

.scrollImages {
    overflow: auto;
    white-space: nowrap;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
   

}
.scrollImages img {
    height: 150px;
    margin-right: 10px;
    border-radius: 5px;
}

footer {
    background-color: whitesmoke;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 180px;
    margin-left: 20%;
    margin-right: 20%; */
}
.footerContainer {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 180px;
    margin-left: 25%;
    margin-right: 25%;
}
span img {
height: 30px;
width: 30px;
}
ul {
    list-style: none;
}